<div class="right-menu-container expanded p2">
  <div class="right-menu" onclick={{action "toggleMenu"}}>
    {{fa-icon icon="bars"}}
  </div>
  <div class="right-menu-links">
    <a href="#"
       class="right-menu-link"
      {{action "show" 'edit-slide'}}>
      {{fa-icon 'file-o'}}
      <div class="right-menu-link__label">
        Slide
      </div>
    </a>

    <a href="#"
      class='deck-config-link right-menu-link'
      {{action "show" 'deck-config'}}>
      {{fa-icon 'files-o'}}
      <div class="right-menu-link__label">
        Deck
      </div>
    </a>
  </div>
  {{component currentComponent
    content=content
    saveSlide=(route-action 'saveSlide')}}
</div>
