<div class="slide-list-container expanded">
  <div class="slide-list-menu" onclick={{action "toggleMenu"}}>
    {{fa-icon icon="bars"}}
  </div>
  {{#each slides as |slide index|}}
    {{#link-to
      'deck.slides.slide' slide.id
      class="p2 slide-list-li"}}
      <hr>
      <div class="slide-content">
        {{slide.content}}
      </div>
      <div class="slide-id">
        {{slide.id}}
      </div>
      <hr>
    {{/link-to}}
  {{/each}}

  <div class="border-top add-slide-button" onclick={{route-action "addSlide"}}>
    Add Slide
  </div>
</div>
